{% extends "base.html" %}
{% block content %}

{% if posts|length == 0 %}
    <P>No posts yet</P>
{% else %}
    {% if page_title == "" %} 
        <h2>{{ posts[0].title }}</h2>
        {{ posts[0].body }}
        <p class="by">written by <a href="/blog?user={{ posts[0].owner.username }}">{{ posts[0].owner.username }}</a></p>
    {% else %}
        {% for post in posts %}
            <h2><a href="/blog?id={{ post.id }}">{{ post.title }}</a></h2>
            {{ post.body }}
            <p class="by">written by <a href="/blog?user={{ post.owner.username }}">{{ post.owner.username }}</a></p>
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock %}